body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f1f1f1;
  text-decoration: none;
}

/* Global */

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

/* header */

header {
  background: #476b6b;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  max-height: 90px;
}

header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
}

header #branding img {
  display: inline;
  margin: 0;
}
header nav {
  float: right;
  margin-top: 10px;
}

header .highlight {
  color: #990000;
  font-weight: bold;
}

header a {
  font-weight: bold;
}

header a:hover {
  color: #cccccc;
  font-weight: bold;
}

.prod-card {
  width: 60%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
}

.img {
  width: 320px;
  float: left;
  overflow: hidden;
}

.img img {
  width: 100%;
}

.prod-info {
  float: left;
  padding: 0 20px 20px 20px;
}

.prod-info a {
  display: block;
  float: left;
  padding: 2px 4px;
  margin-right: 60px;
  border: 2px solid;
  color: #e74c3c;
  font-size: 20px;
  border-radius: 8px;
  text-decoration: none;
}

.price {
  color: blue;
}

@media screen and (max-width: 1430px) {
  .prod-card {
    width: 60%;
    margin-top: 50px;
  }

  header li {
    display: inline;
    padding: 0 7px 0 7px;
  }
  header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
  }
}

@media screen and (max-width: 1150px) {
  .prod-card {
    width: 60%;
    margin-top: 150px;
  }

  header li {
    display: inline;
    padding: 0 7px 0 7px;
  }
  header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
  }
}

@media screen and (max-width: 650px) {
  .prod-card {
    width: 60%;
    margin-top: 200px;
  }

  header li {
    display: inline;
    padding: 0 5px 0 5px;
  }
  header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 9px;
  }
}
